/* Header Styles */
header{
    width: 85%;
    margin: auto;
}
/* Nav Styles */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#nav-meno{
    display: flex;
    align-items: center;
    gap: 50px;
}
/* hero img */
#hero-img{
    margin-top: 60px;
}
/* input */
input{
    height: 38px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-indent: 10px;
}































/* Responsive */
@media screen and (max-width:576px) {
    /* nav */
    #nav-meno{
    flex-direction: column;
    display: none;
    gap: 0px;
}
/* button */
#btn-primary{
    font-size: 20px;
    padding: 0px 5px;
    position: relative;
    left: 20px;
}
#nav-img{
    width: 40%;
}
/* hero title */
#hero-title{
    font-size: 18px;
    width: 100%;
    
    position: relative;
    left: 0px;
}
#hero-btn{
    position: relative;
    top: -2px;
}
body{
    cursor: pointer;
}
#hero-dspt{
    font-size: 14px;
}
}