/* Header Styles */
header{
    width: 85%;
    margin: auto;
}
/* Nav Styles */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#nav-meno{
    display: flex;
    align-items: center;
    gap: 50px;
}
/* hero img */
#hero-img{
    margin-top: 60px;
}
#hero-btn{
    position: relative;
    top: -2px;
}
/* input */
input{
    height: 38px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-indent: 10px;
}
/* main */
main{
    width: 85%;
    margin: auto;
}
/* legal */
#legal{
    margin-top: 60px;
}
#legal{
    margin-top: 60px;
}
#legal-text{
    text-align: center;
}
#legal-title{
    font-size: 35px;
    font-weight: bold;
}
#legal-dspt{
    width: 60%;
    margin: auto;
    text-align: center;
}
#legal-container{
    margin-top: 60px;
    gap: 10px;
}
#legal-container h3{
    font-size: 25px;
    font-weight: bold;
}
#legal-container img{
    margin: auto;
}
#legal-content-one{
    
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(245, 250, 164), rgb(228, 207, 169)
     );
}
#legal-content-two{
    
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(245, 253, 85), rgb(132, 229, 251)
     );
}
#legal-content-three{
    
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(234, 246, 128), rgb(246, 204, 147)
     );
}
#legal-content-four{
    
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(244, 247, 188), rgb(222, 252, 203)
     );
}
#legal-content-five{
    
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(245, 250, 164), rgb(228, 207, 169)
     );
}
#legal-content-six{
    
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(244, 247, 188), rgb(222, 252, 203)
     );
}































/* Responsive */
@media screen and (max-width:576px) {
    /* nav */
    #nav-meno{
    flex-direction: column;
    display: none;
    gap: 0px;
}
/* button */
#btn-primary{
    font-size: 20px;
    padding: 0px 5px;
    position: relative;
    left: 20px;
}
#nav-img{
    width: 40%;
}
/* hero title */
#hero-title{
    font-size: 18px;
    width: 100%;
    
    position: relative;
    left: 0px;
}
#hero-btn{
    position: relative;
    top: -2px;
}
body{
    cursor: pointer;
}
#hero-dspt{
    font-size: 14px;
}
#legal-container{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
}
#legal-title{
    font-size: 20px;
}
#legal{
    margin-top: 40px;
}
}