 /* Google fonts */
 
.sora-eb {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
 /* Header Styles */
header{
    width: 85%;
    margin: auto;
}
/* Nav Styles */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#nav-img{
    width: 20%;
    height: 100px;
}
#nav-meno{
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    right: 150px;
}
/* hero img */
#hero-img{
    margin-top: 60px;
    
}
#hero-btn{
    position: relative;
    top: -2px;
    
}
/* input */
input{
    height: 38px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-indent: 10px;
    width: 80%;
}
/* main */
main{
    width: 85%;
    margin: auto;
}
/* legal */
#legal{
    margin-top: 60px;
}
#legal{
    margin-top: 60px;
}
#legal-text{
    text-align: center;
}
#legal-title{
    font-size: 35px;
    font-weight: bold;
}
#legal-dspt{
    width: 60%;
    margin: auto;
    text-align: center;
}
#legal-container{
    margin-top: 60px;
    gap: 10px;
}
#legal-container h3{
    font-size: 25px;
    font-weight: bold;
}
#legal-container img{
    margin: auto;
}
#legal-content-one{
    
    padding: 20px 15px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(245, 250, 164), rgb(228, 207, 169)
     );
}
#legal-content-two{
    
     padding: 20px 15px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(245, 253, 85), rgb(132, 229, 251)
     );
}
#legal-content-three{
    
     padding: 20px 15px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(234, 246, 128), rgb(246, 204, 147)
     );
}
#legal-content-four{
    
    padding: 20px 15px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(244, 247, 188), rgb(222, 252, 203)
     );
}
#legal-content-five{
    
    padding: 20px 15px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(245, 250, 164), rgb(228, 207, 169)
     );
}
#legal-content-six{
    
    padding: 20px 15px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px white;
    background: linear-gradient(
        rgb(244, 247, 188), rgb(222, 252, 203)
     );
}
/* Client Styles */
#client{
    margin-top: 60px;
}
#client-text{
    text-align: center;

}
#client-title{
    font-size: 35px;
    font-weight: bold;
}
#client-dspt{
    width: 80%;
    margin: auto;
    text-align: center;
}
#corasol{
    margin-top: 60px;
}
/* Feq section */
#fequently{
    margin-top: 60px;
}
#feq-text{
    text-align: center;

}
#feq-title{
    font-size: 35px;
    font-weight: bold;
}
#feq-dspt{
    width: 80%;
    text-align: center;
    margin: auto;

}
#feq-card{
    font-size: 18px;
    font-weight: bold;
}
#feq-dspts{
    width: 60%;
    
}
#feq-imgs{
    width: 70%;
}
#fq{
    background-color: rgb(227, 220, 207);
    margin-top: 10px;
    box-sizing: border-box;
}
/* contact us section */
#contact-text{
    text-align: center;
}

#contact-title{
    font-size: 35px;
    font-weight: bold;
}
#contact-dspt{
    width: 80%;
    text-align: center;
    margin:auto;
}
#card-one{
    background-color: rgb(244, 244, 244);
    padding: 20px 20px;
    text-align: center;
    border: 1px solid rgb(248, 220, 189);
}
#contact-img{
    margin: auto;
}
#img-title{
    font-size: 24px;
    font-weight: bold;
}
#contact-card input{
    height: 40px;
    background-color: rgb(227, 227, 227);
    width: 100%;
    margin-top: 20px;
}
textarea{
    
    background-color: rgb(227, 227, 227);
    margin-top: 20px;
    width: 100%;
    border: none;
    text-indent: 20px;
    padding-top: 5px;
}
#contact-card{
    position: relative;
    top: -10px;
}
#btn-primaryt{
    width: 50%;
    margin: auto;
    border: none;
    padding: 5px 5px ;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #B68C5A;
    border-radius: 12px;
}
#sub{
    text-align: center;
    margin-top: 10px;
}
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(74, 103, 118);
    margin-top: 60px;
    color: white;
}
#footer-dspt{
    width: 80%;

}
#footer-content{
    width: 85%;
    margin: auto;
}
#footer-title{
    font-size: 24px;
    font-weight: bold;
}


























/* Responsive */
@media screen and (max-width:576px) {
    /* nav */
    #nav-meno{
    flex-direction: column;
    display: none;
    gap: 0px;
}
/* button */
#btn-primary{
    font-size: 20px;
    padding: 0px 5px;
    position: relative;
    
}
#nav-img{
    width: 70%;
    height: 50px;
}
/* hero title */
#hero-title{
    font-size: 18px;
    width: 100%;
    
    position: relative;
    left: 0px;
}
#flex{
    flex-direction: column;
    gap: 20px;
}
#justice{
    display: none;
}
input{
    width: 90%;
    margin: auto;
}
#hero-btn{
    width: 50%;
}
body{
    cursor: pointer;
}
#hero-dspt{
    font-size: 14px;
}
#legal-container{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
}
#legal-container h3{
    font-size: 18px;
}
#legal-title{
    font-size: 20px;
}
#legal{
    margin-top: 40px;
}
/* corasol */
#corasol{
    height: 300px;
    margin-top: 40px;
}
#client-title{
    font-size: 20px;
}
#fequently-container{
    flex-direction: column-reverse;
}
#feq-imgs{
    position: relative;
    left: 20px;
}
#feq-title{
    font-size: 20px;
}
#feq-card{
    font-size: 16px;
}
#feq-dspts{
    width: 80%;
}
#contact-container{
    flex-direction: column;
}
#border{
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    width: 100%;
}
#img-title{
    font-size: 18px;
}
#card-one{
    width: 100%;
}
#contact-title{
    font-size: 20px;
}
footer{
    height: auto;
    padding: 50px 0px;
}
#footer-content{
    grid-template-columns: repeat(1, 1fr);
}
#footer-input{
    flex-direction: column;
}
#footer-input input{
    width: 100%;
    margin-top: 5px;
    
}
#rsp{
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
}
#footer-btn{
    text-align: center;
    margin-top: 10px;
}
}